.example-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-actions {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
