.confirm-dialog__content {
    font-size: 1rem;
}

.confirm-dialog__actions {
    margin-top: 1rem;

    &-button:not(:disabled) {
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-surface) !important;
        padding-inline: 1.5rem !important;
    }
}