<div class="todo-wrapper">
    @if (todoScreen().loading) {
        <div class="loader-overlay">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    }
    @else {
        <todo-toolbar 
                [users]="todoScreen().users" 
                [counts]="todoCounts()"
                [filter]="todoScreen().filter"
                (addTodoChange)="addTodo($event)"
                (filterChange)="filterChange($event)">
        </todo-toolbar>
        @for (item of filteredTodos(); track item.id) {
            <todo-item 
                    [item]="item" 
                    (delete)="deleteTodo($event)" 
                    (edit)="editTodo($event)"
                    (toggleTodoChange)="updateTodoStatus($event)">
            </todo-item>
        }
    }
</div>
