
    <app-todo-toolbar 
                [users]="todoScreen().users" 
                [counts]="todoCounts()"
                [filter]="todoScreen().filter"
                (addTodoChange)="addTodo($event)"
                (filterChange)="filterChange($event)">
    </app-todo-toolbar>
    <div class="todo-container">
        @for (item of filteredTodos(); track item.id) {
            <app-todo-item 
                    [item]="item" 
                    (delete)="deleteTodo($event)" 
                    (edit)="editTodo($event)"
                    (toggleTodoChange)="updateTodoStatus($event)">
            </app-todo-item>
        }
    </div>

